In [17]:
import pandas as pd
import sqlite3
import openai
# import json
import os
# from datetime import datetime
from dotenv import load_dotenv

# Load the environment variables
load_dotenv()

True

In [19]:
# Load your OpenAI API key
openai.api_key = os.getenv("OPENAI_API_KEY")
# print(openai.api_key)

In [14]:
# Create SQLite in-memory DB or file-based
conn = sqlite3.connect('orders.db')  # or use ':memory:' for temporary in-memory DB

In [6]:
pd.read_sql_query("SELECT DISTINCT `Transaction Type` FROM orders", conn)

  Transaction Type
0         Shipment
1           Cancel
2           Refund
3  FreeReplacement

In [7]:
DATABASE_SCHEMA = """Here are the columns of the database table 'orders':

['Seller Gstin', 'Invoice Number', 'Invoice Date', 'Transaction Type',
       'Order Id', 'Shipment Id', 'Shipment Date', 'Order Date',
       'Shipment Item Id', 'Quantity', 'Item Description', 'Asin', 'Hsn/sac',
       'Sku', 'Product Tax Code', 'Bill From City', 'Bill From State',
       'Bill From Country', 'Bill From Postal Code', 'Ship From City',
       'Ship From State', 'Ship From Country', 'Ship From Postal Code',
       'Ship To City', 'Ship To State', 'Ship To Country',
       'Ship To Postal Code', 'Invoice Amount', 'Tax Exclusive Gross',
       'Total Tax Amount', 'Cgst Rate', 'Sgst Rate', 'Utgst Rate', 'Igst Rate',
       'Compensatory Cess Rate', 'Principal Amount', 'Principal Amount Basis',
       'Cgst Tax', 'Sgst Tax', 'Igst Tax', 'Utgst Tax',
       'Compensatory Cess Tax', 'Shipping Amount', 'Shipping Amount Basis',
       'Shipping Cgst Tax', 'Shipping Sgst Tax', 'Shipping Utgst Tax',
       'Shipping Igst Tax', 'Shipping Cess Tax Amount', 'Gift Wrap Amount',
       'Gift Wrap Amount Basis', 'Gift Wrap Cgst Tax', 'Gift Wrap Sgst Tax',
       'Gift Wrap Utgst Tax', 'Gift Wrap Igst Tax',
       'Gift Wrap Compensatory Cess Tax', 'Item Promo Discount',
       'Item Promo Discount Basis', 'Item Promo Tax',
       'Shipping Promo Discount', 'Shipping Promo Discount Basis',
       'Shipping Promo Tax', 'Gift Wrap Promo Discount',
       'Gift Wrap Promo Discount Basis', 'Gift Wrap Promo Tax',
       'Tcs Cgst Rate', 'Tcs Cgst Amount', 'Tcs Sgst Rate', 'Tcs Sgst Amount',
       'Tcs Utgst Rate', 'Tcs Utgst Amount', 'Tcs Igst Rate',
       'Tcs Igst Amount', 'Warehouse Id', 'Fulfillment Channel',
       'Payment Method Code', 'Credit Note No', 'Credit Note Date']
"""

In [46]:
# Function to generate business logic
def get_business_logic(question):
    system_prompt = f"""
You are a business analyst assistant.

Schema:
{DATABASE_SCHEMA}

Instructions:
1. Do NOT write SQL.
2. Convert the question into step-by-step business logic.
3. Include filters, joins, or groupings as needed.
4. Format your output as a clearly numbered list, one step per line.

In response to the question asked by the user, return the business logic steps in plain English.
"""
    response = openai.chat.completions.create(
    model="gpt-4",
    messages = [
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": question}
    ]

    )
    # print(f"response: {response}")
    logic = response.choices[0].message.content
    # print("Business Logic:\n", logic)
    return logic
    # return response

In [41]:
# Ask a question
r = get_business_logic("What is the total amount of orders in August?")

response: ChatCompletion(id='chatcmpl-BU9xea5jrGcxbqahsQHdKfT7F9aYd', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content="1. Select the 'orders' table.\n2. Filter the records where 'Order Date' falls within the month of August. This can be done by checking whether the month part of the 'Order Date' is August.\n3. After this filter, select the 'Invoice Amount' column.\n4. Sum up over all the values of 'Invoice Amount'. This will give us the total amount of orders in August.", refusal=None, role='assistant', audio=None, function_call=None, tool_calls=None, annotations=[]))], created=1746527830, model='gpt-4-0613', object='chat.completion', service_tier='default', system_fingerprint=None, usage=CompletionUsage(completion_tokens=85, prompt_tokens=567, total_tokens=652, completion_tokens_details=CompletionTokensDetails(accepted_prediction_tokens=0, audio_tokens=0, reasoning_tokens=0, rejected_prediction_tokens=0), prompt_tokens_details=PromptTokensDetails(audio_tokens=0, cached_tokens=0)))
Business Logic:
 1. Select the 'orders' table.
2. Filter the records where 'Order Date' falls within the month of August. This can be done by checking whether the month part of the 'Order Date' is August.
3. After this filter, select the 'Invoice Amount' column.
4. Sum up over all the values of 'Invoice Amount'. This will give us the total amount of orders in August.

In [43]:
# r.__dict__

In [44]:
# Load questions
df = pd.read_csv("questions.csv")  # expects a column called 'question'

In [47]:
# Use only the first 2 rows
# test_df = df.head(2)

# Iterate and print nicely
for i, row in df.iterrows():
    question = row["question"]
    logic = get_business_logic(question)

    print(f"\n\033[1mQuestion {i+1}:\033[0m {question}\n")
    for line in logic.split("\n"):
        print(line.strip())
    print("\n" + "-" * 80)

Question 1: How many orders did I have in November 2021

1. Start with the 'orders' table.
2. Apply filter on the 'Order Date' column, to include only the dates that fall in the month of November 2021.
3. Count the number of unique 'Order Id' values in the filtered table. Each unique 'Order Id' corresponds to an individual order.
4. The final count will represent the total number of orders in November 2021.

--------------------------------------------------------------------------------

Question 2: How many orders got refunded

1. Start by identifying the relevant column(s) or variable(s) in the dataset which marks an order as refunded.
2. It is likely that refunded orders would be reflected under the 'Transaction Type' column if such order statuses are recorded in the dataset. Alternatively, there could be a 'Payment Method Code' or 'Credit Note No' relevant for this purpose.
3. Filter the dataset where 'Transaction Type' equals 'Refund' or where 'Credit Note No' is not null, or where any other indicator of a refund is observed.
4. After applying the filter, count the number of unique 'Order Id' in the resulting set, as each unique 'Order Id' should represent a distinct order.
5. The result of this count operation will provide the total number of orders that have been refunded.

--------------------------------------------------------------------------------

Question 3: How many orders got cancelled

1. Start by identifying the appropriate column in the 'orders' table that could indicate an order status or cancellation. This would typically be the 'Transaction Type' column, where cancellations would be something like 'Cancelled' or similar. Since no such column is mentioned, we can't determine the cancelled orders.
2. Without this information, it's impossible to provide direct business logic for determining cancelled orders.

Note: The schema provided does not contain an order status indicator. Kindly provide a table schema with an order status column to provide the proper business logic.

--------------------------------------------------------------------------------

Question 4: How many orders did we ship

1. Start by accessing the 'orders' database table.
2. Specifically look at the 'Shipment Id' column in the order table.
3. Count the number of unique values in the 'Shipment Id' column.This count represents the total number of shipments (or shipped orders). If a shipment ID repeats, it means multiple items from the same order might have been shipped in different packages. Thus, we consider unique shipment IDs.
4. Return this count value. This is the total number of orders we shipped.

--------------------------------------------------------------------------------

Question 5: Total how many different products were shipped

1. Start by selecting the 'Shipment Item Id' column from the 'orders' table. This column represents the unique ID for each item shipped.

2. Filter the rows where the 'Shipment Date' is not null, which means that only the products that have been shipped are included.

3. Use the distinct function on the 'Shipment Item Id' column to remove any duplicate entries, as we are only interested in individual, distinct products.

4. Count the number of distinct 'Shipment Item Id' entries; this will give us the total number of different products that have been shipped.

--------------------------------------------------------------------------------

Question 6: How many replacements did we have to give

1. Identify the 'Transaction Type' column from the 'orders' table.
2. Filter the entries in 'Transaction Type' column to only display those labeled as 'Replacement'.
3. Count the number of rows remaining after filtering which will be the total number of replacements given.


--------------------------------------------------------------------------------

Question 7: Which was the SKU causing maximum replacements

1. Filter the 'Transaction Type' column to only include 'REPLACEMENT'.
2. Count each occurrence of 'Sku' in these filtered records.
3. Sort these counts in descending order.
4. The 'Sku' with the highest count will be the one causing the maximum replacements. Return this 'Sku'.

--------------------------------------------------------------------------------

Question 8: which was the second highest SKU causing maximum replacements

1. Define a replacement order based on the 'Transaction Type' field (it should be marked as 'Replacement').
2. Filter the 'orders' table where 'Transaction Type' equals 'Replacement'.
3. Group the filtered data by 'Sku'.
4. Within each group, count the total number of replacements, i.e., count the number of rows.
5. Sort the groups by the count in descending order.
6. After sorting, select the second group from the top. This group corresponds to the SKU that caused the second highest number of replacements.

--------------------------------------------------------------------------------

Question 9: top 5 refunded items

1. Filter the 'orders' table to only include rows where the 'Transaction Type' is 'Refund'. This will give us only the transactions that were refunded.

2. Group the filtered data by 'Item Description' or 'Asin' or 'Sku' (depending on which represents the unique item in the dataset).

3. For each group in step 2, count the number of rows (i.e., the number of times each item was refunded).

4. Sort the counts from step 3 in descending order.

5. Select the top 5 items from the sorted list in step 4. These represent the top 5 refunded items.

--------------------------------------------------------------------------------

Question 10: What was my top selling item

1. Start by selecting the 'Item Description', 'Quantity' and 'Order Id' from the 'orders' table.
2. Group the data by 'Item Description'.
3. For each group, sum the 'Quantity' to get the total quantity sold for each item.
4. Sort the grouped data by the total quantity sold in descending order.
5. The top selling item will be at the top of the sorted list, as it would have the highest total quantity sold. Select this item and its quantity.
6. Return the item description and the quantity sold of the top selling item.

--------------------------------------------------------------------------------